/ansible/aws-credentials/credentials.csv
.classpath
.project
.settings
.gradle
build/*
dependency-reduced-pom.xml
target/*
compiled/*

**/wro.properties

.idea
/out
**/*.iml
*.iml
*.log
**/TEST-*.*

**/.DS_Store
